<footer>
  <span>
    &copy; {new Date().getFullYear()} DEPO by <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/X_logo_2023.svg/266px-X_logo_2023.svg.png" style="max-width:5%;height: auto;">
<a href="https://twitter.com/brainwasher31" target="_blank" rel="noopener">emreceleke</a>
    <br>
    Powered by <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>.
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
